<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <meta content="" name="description">
  <meta content="" name="keywords">
  
  <!-- Favicons -->
  <link href="assets/img/mainfavicon.png" rel="icon">
  <link href="assets/img/main-apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  
  <style>
	table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
	}

	th:nth-child(even),td:nth-child(even) {
      background-color: #D6EEEE;
	}
  </style>

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.2.2
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="assets/img/mainlogo.png" alt="">
        <span class="d-none d-lg-block">NiceAdmin</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
            <span class="badge bg-primary badge-number">4</span>
          </a><!-- End Notification Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
            <li class="dropdown-header">
              You have 4 new notifications
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-exclamation-circle text-warning"></i>
              <div>
                <h4>Lorem Ipsum</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>30 min. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-x-circle text-danger"></i>
              <div>
                <h4>Atque rerum nesciunt</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>1 hr. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-check-circle text-success"></i>
              <div>
                <h4>Sit rerum fuga</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>2 hrs. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-info-circle text-primary"></i>
              <div>
                <h4>Dicta reprehenderit</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>4 hrs. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="dropdown-footer">
              <a href="#">Show all notifications</a>
            </li>

          </ul><!-- End Notification Dropdown Items -->

        </li><!-- End Notification Nav -->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-chat-left-text"></i>
            <span class="badge bg-success badge-number">3</span>
          </a><!-- End Messages Icon -->

        </li><!-- End Messages Nav -->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">K. Anderson</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>Kevin Anderson</h6>
              <span>Web Designer</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-gear"></i>
                <span>Account Settings</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                <i class="bi bi-question-circle"></i>
                <span>Need Help?</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->
  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " th:href="@{/index}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#apartments-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-house-door"></i><span>Apartments</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="apartments-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{/apartments}">
              <i class="bi bi-circle"></i><span>To book</span>
            </a>
          </li>
          <li>
            <a th:href="@{/booked}">
              <i class="bi bi-circle"></i><span>Booked</span>
            </a>
          </li>
          <li>
            <a th:href="@{/rent}">
              <i class="bi bi-circle"></i><span>To rent</span>
            </a>
          </li>
          <li>
            <a th:href="@{/rented}">
              <i class="bi bi-circle"></i><span>Rented</span>
            </a>
          </li>
        </ul>
      </li><!-- End Apartments Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#countries-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-globe"></i><span>Countries</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="countries-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{/countries}">
              <i class="bi bi-circle"></i><span>Countries</span>
            </a>
          </li>
          <li>
            <a th:href="@{/statesbycountry}">
              <i class="bi bi-circle"></i><span>States by country</span>
            </a>
          </li>
          <li>
            <a th:href="@{/citiesbycountry}">
              <i class="bi bi-circle"></i><span>Cities by country</span>
            </a>
          </li>
        </ul>
      </li><!-- End Countries Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#invocies-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-receipt"></i><span>Invocies</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="invocies-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{/invoices}">
              <i class="bi bi-circle"></i><span>To pay</span>
            </a>
          </li>
          <li>
            <a th:href="@{/notpaid}">
              <i class="bi bi-circle"></i><span>Not paid</span>
            </a>
          </li>
          <li>
            <a th:href="@{/paid}">
              <i class="bi bi-circle"></i><span>Paid</span>
            </a>
          </li>
        </ul>
      </li><!-- End Invoice Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#guests-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-people"></i><span>Hosts</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="guests-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{/tophost}">
              <i class="bi bi-circle"></i><span>Top hosts</span>
            </a>
          </li>
          <li>
            <a th:href="@{/hosts}">
              <i class="bi bi-circle"></i><span>All hosts</span>
            </a>
        </ul>
      </li><!-- End Hosts Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#guests-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-people"></i><span>Guests</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="guests-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{/myguests}">
              <i class="bi bi-circle"></i><span>In apartments</span>
            </a>
          </li>
          <li>
            <a th:href="@{/topguest}">
              <i class="bi bi-circle"></i><span>Top guests</span>
            </a>
          </li>
          <li>
            <a th:href="@{/guests}">
              <i class="bi bi-circle"></i><span>All guests</span>
            </a>
          </li>
        </ul>
      </li><!-- End Guests Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#reviews-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Reviews</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="reviews-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{/reviews}">
              <i class="bi bi-circle"></i><span>Reviews</span>
            </a>
          </li>
          <li>
            <a th:href="@{/myreviews}">
              <i class="bi bi-circle"></i><span>My reviews</span>
            </a>
          </li>
          <li>
            <a th:href="@{/reviewforme}">
              <i class="bi bi-circle"></i><span>Of my apartments</span>
            </a>
          </li>
        </ul>
      </li><!-- End Reviews Nav -->
    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Apartments</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Pages</li>
          <li class="breadcrumb-item active">Blank</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
	<h1>List of apartments: </h1>
	<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addApartment">New apartment</button>
    <!-- Aaprtments table -->
    <table class="apartments-table" >
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Number of guests</th>
                    <th scope="col">Number of rooms</th>
                    <th scope="col">Number of showers</th>
                  	<th scope="col">Base price</th>
					<th scope="col">Cleaning fee</th>
					<th scope="col">Service fee</th>
					<th scope="col">City</th>
					<th scope="col">Address</th>
					<th scope="col">Host</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="apartment:${apartments}">
                    <td th:text="${apartment.name}"></td>
                    <td th:text="${apartment.description}"></td>
                    <td th:text="${apartment.numberOfGuests}"></td>
                    <td th:text="${apartment.numberOfRooms}"></td>
                    <td th:text="${apartment.numberOfShowers}"></td>
                    <td th:text="${apartment.basePrice}"></td>
                    <td th:text="${apartment.cleaningFee}"></td>
                    <td th:text="${apartment.serviceFee}"></td>
                    <td th:text="${apartment.city.name}"></td>
                    <td th:text="${apartment.address}"></td>
                    <td th:text="${apartment.host.id}"></td>
                  </trth:each="apartment:${apartments}">
                </tbody>
              </table>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  
  <div class="modal fade" id="addApartment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New apartment</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        <form th:action="@{apartments/addnew}" method="post">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Name:</label>
            <input type="text" class="form-control" id="recipient-name" name="name">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Description:</label>
            <input type="text" class="form-control" id="recipient-name" name="description">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Number of guests:</label>
            <input type="text" class="form-control" id="recipient-name" name="numberOfGuests">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Number of rooms:</label>
            <input type="text" class="form-control" id="recipient-name" name="numberOfRooms">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Number of showers:</label>
            <input type="text" class="form-control" id="recipient-name" name="numberOfShowers">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Base price:</label>
            <input type="text" class="form-control" id="recipient-name" name="basePrice">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Cleaning fee:</label>
            <input type="text" class="form-control" id="recipient-name" name="cleainigFee">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Service fee:</label>
            <input type="text" class="form-control" id="recipient-name" name="serviceFee">
          </div>
          <div class="form-group row">
          	<label for="recipient-name" class="col-form-label">City:</label>
    		<select class="form-control" id="cty" name="cty">
        		<option th:each="city:${cities}"
                		th:value="${city.id}"
                		th:text="${city.name}"/>
    		</select>
		  </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Address:</label>
            <input type="text" class="form-control" id="recipient-name" name="address">
          </div>
          <div class="form-group row">
          	<label for="recipient-name" class="col-form-label">Host:</label>
    		<select class="form-control" id="hst" name="hst">
        		<option th:each="host:${hosts}"
                		th:value="${host.id}"
                		th:text="${host.name}"/>
    		</select>
		  </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
      	  </div>
        	<div class="modal-footer">
          		<button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        	</div>
          </div>
      </form>
    </div>
  </div>
  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.min.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>